/* Community.css */

/* General styles for the community page */
.community-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: inter;
  color: #143501;
  background: linear-gradient(to right, #F6D8B0 0%, #F9EC8D 58%, #FCFF6D 100%);
}

/* Styles for the post input section */
.post-input-container {
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 20px;
  gap: 10px;
  padding: 10px;
  width: 96.5%;
  background-color: #F9F2B9;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.new-post-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background: linear-gradient(to right, #7FFA74 0%, #B9F8B4 78%);
  border-radius: 20px;
}

.add-image-button {
  background-color: transparent;
  border: none;
  font-size: 32px;
  cursor: pointer;
}

.file-input {
  display: none;
}

.new-post-button {
  padding: 10px 20px;
  background-color: #ffa500;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

/* Styles for the filter buttons */
.filter-buttons {
  align-self: center;
  display: flex;
  gap: 1.5%;
  width: 96.5%
}

.filter-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  min-width: 150px;
}

.filter-button.active {
  background-color: #ffa500;
  color: white;
}

/* Main content area styles */
.main-content {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
}

.posts-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 65%;
}

/* Styles for individual post cards */
.post-card {
  padding: 15px;
  border-radius: 10px;
  background-color: #F9F2B9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.post-user-name {
  margin: 0;
  cursor: pointer;
}

.post-timestamp {
  font-size: 12px;
  color: #777;
  margin-top: 2px;
  cursor: pointer;
}


.postCaption{
  margin-left: 10px;
  font-weight: 500;
}

.post-photo {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.likes-comments-container {
  margin-top: 10px;
}

.like-comment-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.like-button:hover,
.comment-toggle-button:hover {
  background-color: #c59e00;
}

.like-button,
.comment-toggle-button {
  border: none;
  font-family: inter;
  color: #143501;
  font-size: 15px;
  font-weight: 500;
  background-color: #ffcc00;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 20px;
  cursor: pointer;
  flex-grow: 1;
}

.comment-button:hover{
  background-color: #c59e00;
}

.comment-button {
  border: none;
  background-color: #ffcc00;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  height: 20%;
}

.add-comment-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.commentContent{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #F9EC8D;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.comment-input-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.comment-input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

.post-comment-button {
  padding: 10px 20px;
  background-color: #ffa500;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.comment {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  font-size: 14px;
  margin-top: 3px;
}

.show-more-less-button {
  background: none;
  border: none;
  color: #143501;
  cursor: pointer;
  padding: 5px 0;
  font-size: 14px;
  text-align: left;
}
.show-more-less-button:hover {
  text-decoration: underline;
}

.post-profile-picture {
  width: 80px;
  height: 80px;
  border: 2px solid #ffa500;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.comment-profile-picture{
  width: 50px;
  height: 50px;
  border: 2px solid #ffa500;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

/* Sidebar styles */
.sidebar {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-bar-container {
  display: flex;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  background-color: #F9F2B9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  align-items: center;
}

.search-bar {
  width: 100%;
  background: linear-gradient(to right, #7FFA74 0%, #B9F8B4 78%);
  margin-bottom: 0px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 20px;
}

.sidebar-section {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  background-color: #F9F2B9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.who-to-follow-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.who-to-follow-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.who-to-follow-profile-picture {
  width: 40px;
  border: 2px solid #ffa500;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.who-to-follow-info {
  flex-grow: 1;
}

.follow-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.who-to-follow-item .follow-button {
  background-color: #FBBC05;
  color: white;
}

.who-to-follow-item .follow-button:hover {
  background-color: #a77d00;
  color: white;
}

.trending-post {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.trending-profile-picture {
  border: 2px solid #ffa500;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.trending-user-name, .trending-content, .trending-likes {
  margin: 0;
}

.trending-user-name {
  font-weight: bold;
}

.trending-content {
  margin-top: 5px;
}

.trending-likes {
  color: gray;
  font-size: 12px;
}

.error-bar {
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.options-button {
  background: none;
  border: none;
  cursor: pointer;
}

.options-menu {
  display: none;
}

.post-options:hover .options-menu,
.comment-options:hover .options-menu {
  display: block;
}
